<app-header> </app-header>
<h4 class="text-center mb-4 pt-5 mt-4" style="color: #3C3C3C;font-size: 20px;font-family: Poppins;font-weight: 500;text-decoration: underline;word-wrap: break-word">Credit Voucher Generate</h4>

<div class="container p-5" style="border:#3C3C3C 1px solid; border-radius: 15px; background-color: aliceblue;">
    <form [formGroup]="form">
            <div class="row g-3">
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">From Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="fromDate">
                </div>
        
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">To Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="toDate">
                </div>
        
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">Sender Name</label>
                    <input type="text" class="form-control form-select-sm" formControlName="senderName"  [(ngModel)]="searchTerm" (input)="searchUser()" (blur)="hideDropdown()">
                        <!-- Dropdown for Suggestions -->
                        <ul *ngIf="showDropdown && userList.length" class="dropdown-menu show">
                            <li *ngFor="let user of userList" class="dropdown-item" (click)="selectUser(user)">
                                {{ user.name }}
                            </li>
                        </ul>            
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-danger" (click)="VoucherLoad()" data-bs-dismiss="modal">Load</button>
                </div>
            </div>
        
     </form>
</div>