<app-header> </app-header>
<h4 class="text-center mb-4 pt-5 mt-4" style="color: #3C3C3C;font-size: 20px;font-family: Poppins;font-weight: 500;text-decoration: underline;word-wrap: break-word">Credit Voucher Generate</h4>

<div class="container p-5" style="border:#3C3C3C 1px solid; border-radius: 15px; background-color: aliceblue;">
    <form [formGroup]="form">
            <div class="row g-3">
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">From Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="fromDate">
                </div>
        
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">To Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="toDate">
                </div>
        
                <div class="col-md-4 col-sm-12">
                    <label class="form-label">Sender Name</label>
                    <input type="text" class="form-control form-select-sm" formControlName="senderName"  [(ngModel)]="searchTerm" (input)="searchUser()" (blur)="hideDropdown()">
                        <ul *ngIf="showDropdown && userList.length" class="dropdown-menu show">
                            <li *ngFor="let user of userList" class="dropdown-item" (click)="selectUser(user)">
                                {{ user.name }}
                            </li>
                        </ul>            
                </div>
                
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-danger btn-sm m-3" (click)="VoucherLoad()" data-bs-dismiss="modal">Load</button>
                    <button type="button" *ngIf="vldata" class="btn btn-primary btn-sm" (click)="VoucherGenerate()" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        
     </form>

     <div class="mt-4" *ngIf="vldata">
        <div class="table-responsive" >
                <table class="table table-striped table-bordered" >
                    <thead>
                        <tr class="p-2 text-center" style="font-size: 12px;" >
                            <th>S.no</th>
                            <th>GRN No</th>
                            <th>Agent</th>
                            <th>From Branch</th>
                            <th>Drop Branch</th>
                            <th>Consignor</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Charge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of vldata; let i=index" class="text-center" style="font-size: 12px;">
                            <td>{{i + 1}}</td>
                            <td> {{row.lrNumber}} </td>
                            <td> {{row.senderName}} </td>
                            <td> {{row.pickUpBranchname}} </td>
                            <td> {{row.dropBranchname}} </td>
                            <td> {{row.senderName}} </td>
                            <td> 
                                <ng-container *ngIf="row.bookingStatus=='0'">
                                    Parcel Booked
                                </ng-container>
                                <ng-container *ngIf="row.bookingStatus=='1'">
                                     Parcel Load
                                </ng-container>
                                <ng-container *ngIf="row.bookingStatus=='2'">
                                  Parcel OnLoad
                                </ng-container>
                                <ng-container *ngIf="row.bookingStatus=='3'">
                                     Parcel Missing 
                                </ng-container>
                                <ng-container *ngIf="row.bookingStatus=='4'">
                                    Parcel Delivered
                                </ng-container>
                                <ng-container *ngIf="row.bookingStatus=='5'">
                                     Parcel Cancel
                                </ng-container>
                            </td>
                            <td> {{row.bookingDate | date:'dd/MMM/YYYY'}} </td>
                            <td> {{row.grandTotal | currency:'INR':true:'1.0-1'}} </td>
                        </tr>
                    </tbody>
              
                </table>
            
        </div>
    </div>
</div>


