<div class="container d-flex justify-content-center">
  <div class="col-lg-6">
      <form class="row mt-4 text-center" (ngSubmit)="searchUser()">
          <div class="row justify-content-center">
              <div class="col-md-4 mb-2">
                  <select class="form-select">
                      <option selected>L.R No / GRN No</option>
                  </select>
              </div>
              <div class="col-md-4 mb-2">
                  <input required type="text" id="searchTerm" name="searchTerm" placeholder="Enter GRN Number"
                      class="form-control" [(ngModel)]="searchTerm" />
              </div>
              <div class="col-md-4">
                  <button type="button" class="btn btn-secondary me-2">Clear</button>
                  <button class="btn btn-primary" type="submit">Load</button>
              </div>
          </div>
      </form>
  </div>
</div>


 <!-- Search Results -->
 <div *ngIf="data2" class="mt-4">
    <h5>Search Results:</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>LR/Gr Number</th>
          <th>Pickup</th>
          <th>Drop</th>
          <th>From</th>
          <th>To</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Charges</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data2;">
          <td >{{ user.bookingDate | date:'dd/MM/YYYY' }}</td>
          <td style="cursor: pointer; color: blueviolet;">{{ user.lrNumber }}</td>
          <td>{{ user.pickUpBranch }}</td>
          <td>{{ user.dropBranch }}</td>
          <td>{{ user.fromCity }}</td>
          <td>{{ user.toCity }}</td>
          <td> {{user.senderName}} <br> {{user.senderMobile}} </td>
          <td> {{user.receiverName}} <br> {{user.receiverMobile}} </td>
          <td> {{user.grandTotal}} </td>
          <td style="cursor: pointer;" (click)="updateParcelStatus(user.grnNo)">Received</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="text-danger mt-3">
    {{ errorMessage }}
  </div>
