<app-header></app-header>

<div class="container " style="margin-top: 8%;">
    <h5 class="text-center fw-bold text-danger"><u>Offline Parcel Voucher Details</u></h5>
    <div class="border rounded p-4" style="margin-top: 2rem;">
        <form [formGroup]="form">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">From Booking Date</label>
                    <input type="date" class="form-control" formControlName="fromDate">
                </div>
                <div class="col-md-3">
                    <label class="form-label">To Booking Date</label>
                    <input type="date" class="form-control" formControlName="toDate">
                </div>
                <!-- <div class="col-md-3">
                    <label class="form-label">From City </label>
                    <select class="form-select form-select-sm" formControlName="fromCity"
                        (change)="onFromcitySelect($event)">
                        <option value="" selected>Select City</option>
                        <option *ngFor="let row2 of citydata" value="{{row2.cityName}}"> {{row2.cityName}} </option>
                    </select>
                </div> -->
                <div class="col-md-3">
                    <label class="form-label form-after">From City</label>
                    <input type="text" class="form-control" formControlName="fromCity" readonly />
                  </div>
                <div class="col-md-3">
                    <label class="form-label">To City </label>
                    <select #selectElem2 class="form-select form-select-sm" formControlName="toCity">
                        <option value="" selected>Select City</option>
                        <option *ngFor="let row1 of citydata" value="{{row1.cityName}}"> {{row1.cityName}} </option>
                    </select>
                </div>
                <!-- <div class="col-md-3">
                    <label class="form-label">From Branch</label>
                    <select class="form-select" formControlName="fromBranch">
                        <option value="" selected>Select Branch</option>
                        <option *ngFor="let branch of cbdata" [value]="branch.branchUniqueId">{{ branch.name }}</option>
                    </select>
                </div> -->
                <div class="col-md-3">
                    <label class="form-label form-after">From Branch</label>
                    <input type="text" class="form-control" [value]="ffdata?.name || ''" readonly />
                    <input type="hidden" formControlName="fromBranch" />
                  </div>
                <div class="col-md-3">
                    <label class="form-label">Vehicles</label>
                    <select class="form-select" formControlName="vehicalNumber">
                        <option value="" selected>Select Vehicles</option>
                        <option *ngFor="let vvda of vdata" [value]="vvda.vehicleNo">{{ vvda.vehicleNo }}</option>
                    </select>
                </div>
                <div class="col-md-2 mt-2 d-flex align-items-end text-center">
                    <button type="button" class="btn btn-success w-100" (click)="VoucherLoad()">Load</button>
                </div>
            </div>
        </form>
        <!-- fetch data -->
        <div class="table-responsive mt-4" *ngIf="data1?.length">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Voucher No</th>
                        <th>From City</th>
                        <th>To city</th>
                        <th>Generate Date</th>
                        <th>Bus No</th>
                        <th>Total Parcel</th>
                        <th>Total Qty</th>
                        <th>Total Charges</th>
                        <th>Print</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of data1; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td
                        (click)="getvouchersdata(row.voucherNo)"
                        data-bs-toggle="modal"
                        data-bs-target="#parcelModal"
                        style="cursor: pointer; text-decoration: underline; color: blue;"
                        >
                        {{ row.voucherNo }}
                        </td>
                        <td>{{ row.fromCity }}</td>
                        <td>{{ row.toCity }}</td>
                        <td>{{ row.loadingDate | date: 'dd/MMM/yyyy' }}</td>
                        <td>{{ row.vehicalNumber }}</td>
                        <td>{{ row.totalParcel }}</td>
                        <td>{{ row.totalQuantity }}</td>
                        <td>{{ row.grandTotal }}</td>
                        <td (click)="printgrnData(row.voucherNo)" style="cursor: pointer; color: red;">
                        <i class="fa fa-print"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
         </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="parcelModal" tabindex="-1" aria-labelledby="parcelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column align-items-center">
        <h5 class="modal-title text-center" id="parcelModalLabel">
          Parcel List Of <span class="text-danger"> {{vldata?.vocherNo}} </span> Voucher No
        </h5>
        <button type="button" class="btn-close position-absolute end-0 me-2" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive mt-3" *ngIf="vldata?.bookingList?.length">
          <table class="table table-bordered text-white table-custom">
            <thead class="table-header">
              <tr>
                <th>No.</th>
                <th>GRN No/LR No</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>From City</th>
                <th>To City</th>
                <th>Pay Type</th>
                <th>Status</th>
                <th>Tran. Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of vldata.bookingList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.lrNumber }}</td>
                <td>{{ item.sender }}</td>
                <td>{{ item.receiver }}</td>
                <td>{{ item.fromCity }}</td>
                <td>{{ item.toCity }}</td>
                <td>{{ item.payType }}</td>
                <td>
                  <ng-container [ngSwitch]="item.status">
                    <span *ngSwitchCase="0">Booking</span>
                    <span *ngSwitchCase="1">Loading</span>
                    <span *ngSwitchCase="2">UnLoading</span>
                    <span *ngSwitchCase="3">Parcel Missing</span>
                    <span *ngSwitchCase="4">Delivered</span>
                    <span *ngSwitchCase="5">Cancelled</span>
                    <span *ngSwitchDefault>Unknown Status</span>
                  </ng-container>
                </td>
                <td>{{ item.tranDate }}</td>
                <td>{{ item.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!vldata?.bookingList?.length" class="text-center text-danger">
          No parcel details found.
        </div>
      </div>
    </div>
  </div>
</div>








