.section-border {
  border: 2px solid #E1E1E2;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 20px;
}
.form-label {
  font-weight: 500;
}


th {
    background: #143374;
    color: white;
    border-radius: 0;
    top: 0;
    padding: 10px;
  }


    .table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Table Header (Dark Blue) */
    .table thead tr {
        background-color: #143374 !important; /* Dark Blue */
        color: white !important;
    }

    .table th {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }

    /* Normal Table Rows */
    .table tbody tr {
        background-color: #2B478B !important; /* Slightly lighter blue */
        color: white;
    }

    .table tbody td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .table tbody .highlight-row td {
        background-color: #354F9E !important; /* Different shade of blue */
        font-weight: bold;
        color: white;
    }

    .table tbody input.form-control {
        background-color: #B0C4DE !important; /* Light Blue */
        border: 1px solid #ccc;
        color: black;
    }

    /* Delete Button */
    .text-danger {
        color: red !important;
    }

  