<app-header></app-header>

<div class="container my-4">
  <h2 class="text-center mb-4">Parcel Cancel</h2>
  <!-- Search Section -->
  <div class="section-border">
    <form (ngSubmit)="searchUser()">
      <div class="row g-3 align-items-center">
        <div class="col-md-4">
          <label for="searchBy" class="form-label">Search By:</label>
          <select class="form-select" id="searchBy">
            <option>GRN No/LR No/Serial No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="searchInput" class="form-label">Search:</label>


          <input required type="text" id="searchTerm" name="searchTerm" placeholder="Enter GRN Number"
            class="form-control" [(ngModel)]="searchTerm" />

        </div>
        <div class="col-md-4 mt-5 d-flex align-items-center gap-3 flex-wrap" *ngFor="let item of data2; let i = index; trackBy: trackByFn">
          <!-- Radio buttons for each item with unique name and id -->
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              [name]="'cancelType' + i" 
              [id]="'fullCancel' + i" 
              [(ngModel)]="item.bookingStatus" 
              [value]="0" 
            />
            <label class="form-check-label" [for]="'fullCancel' + i">Full Cancel</label>
          </div>
        
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              [name]="'cancelType' + i" 
              [id]="'deliverCancel' + i" 
              [(ngModel)]="item.bookingStatus" 
              [value]="1" 
            />
            <label class="form-check-label" [for]="'deliverCancel' + i">Deliver Cancel</label>
          </div>
        
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              [name]="'cancelType' + i" 
              [id]="'loadingToBooking' + i" 
              [(ngModel)]="item.bookingStatus" 
              [value]="2" 
            />
            <label class="form-check-label" [for]="'loadingToBooking' + i">Loading to Booking</label>
          </div>
        
          <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              [name]="'cancelType' + i" 
              [id]="'unloadingToLoading' + i" 
              [(ngModel)]="item.bookingStatus" 
              [value]="3" 
            />
            <label class="form-check-label" [for]="'unloadingToLoading' + i">Unloading to Loading</label>
          </div>
        </div>

      </div>
      <div class="text-center mt-3">
        <button class="btn  ms-auto " style="background-color: #034F92; color: white;" type="submit">LOAD</button>
      </div>
    </form>
  </div>


  <div *ngIf="errorMessage" class="text-danger mt-3">
    {{ errorMessage }}
  </div>

  <div class="section-border">
    <div class="row g-3" *ngFor="let items of data2">
      <div class="col-md-4">
        <label class="form-label">GRN No/LR No</label>
        <input type="text" class="form-control" [ngModel]="items.toCity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Sender. Name</label>
        <input type="text" class="form-control" [ngModel]="items.senderName" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Sender Phone</label>
        <input type="text" class="form-control" [ngModel]="items.senderMobile" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Receiver Name</label>
        <input type="text" class="form-control" [ngModel]="items.receiverName" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Receiver Phone</label>
        <input type="text" class="form-control" [ngModel]="items.receiverMobile" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">From City</label>
        <input type="text" class="form-control" [ngModel]="items.fromCity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">To City</label>
        <input type="text" class="form-control" [ngModel]="items.toCity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">From Branch</label>
        <input type="text" class="form-control" [ngModel]="items.pickUpBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">To Branch</label>
        <input type="text" class="form-control" [ngModel]="items.dropBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Booked By Branch</label>
        <input type="text" class="form-control" [ngModel]="items.pickUpBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Booked By User</label>
        <input type="text" class="form-control" [ngModel]="items.bookedBy?.name" readonly>
      </div>

      <div class="col-md-4">
        <label class="form-label">bookingDate</label>
        <input type="text" class="form-control" [ngModel]="items.bookingDate | date:'dd/MM/yy'" readonly >
      </div>

      <div class="col-md-4">
        <label class="form-label">Loading. Date</label>
        <input type="text" class="form-control" [ngModel]="items.loadingDate | date:'dd/MM/yy'" readonly>
      </div>

      <div class="col-md-4">
        <label class="form-label">Unload. Date</label>
        <input type="text" class="form-control" [ngModel]="items.unloadingDate" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Delivery Date</label>
        <input type="text" class="form-control" [ngModel]="items.deliveryDate | date:'dd/mm/yy'" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Load By User</label>
        <input type="text" class="form-control" [ngModel]="items.loadingByemp" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Unload By User</label>
        <input type="text" class="form-control" [ngModel]="items.unloadingByemp" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Delivery By User</label>
        <input type="text" class="form-control" [ngModel]="items.deliveryEmployee">
      </div>
      <div class="col-md-4">
        <label class="form-label">Booking Status</label>
        <input type="text" class="form-control" [ngModel]="getStatusText(items.bookingStatus)" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Parcel Que.</label>
        <input type="text" class="form-control" [ngModel]="items.totalQuantity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Total Price</label>
        <input type="text" class="form-control" [ngModel]="items.grandTotal" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Paid Type</label>
        <input type="text" class="form-control" [ngModel]="items.bookingType" readonly>
      </div>
      <form class="row mt-2">
  
        <div class="col-md-6">
          <label class="form-label">Cancel Date</label>
          <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="col-md-6">
          <label class="form-label">Refund Amount</label>
          <input type="text" class="form-control"  placeholder="Enter Remarks" formControlName="refundAmount">
        </div>
          <input type="hidden" class="form-control" value="items.grandTotal" formControlName="refundCharge">
        <div class="text-center mt-3">
          <button class="btn btn-danger" (click)="cancel(items.grnNo)" >CLOSE</button>
        </div>
      </form>
    
    </div>
  </div>

 
</div>