<app-header></app-header>

<div class="container " style="margin-top: 8%;">
  <h4 class="text-center mb-4 text-decoration-underline">Parcel Cancel</h4>
  <!-- Search Section -->
  <div class="section-border ">
    <form (ngSubmit)="searchUser()">
      <div class="row g-3 align-items-center">
        <div class="col-md-4">
          <label for="searchBy" class="form-label">Search By:</label>
          <select class="form-select" id="searchBy">
            <option>GRN No/LR No/Serial No</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="searchInput" class="form-label">Search:</label>


          <input required type="text" id="searchTerm" name="searchTerm" placeholder="Enter GRN Number"
            class="form-control" [(ngModel)]="searchTerm" />

        </div>
        <div class="col-md-4 mt-5 d-flex flex-column gap-2" *ngFor="let items of data2">
          <div class="d-flex flex-wrap align-items-center gap-3">
            <div class="form-check" *ngFor="let status of [0,1,2,3,4,5]">
              <input class="form-check-input" type="radio" [name]="'cancelType-' + items.id" [value]="status"
                [checked]="items.bookingStatus === status">
              <label class="form-check-label">
                {{ getStatusLabel(status) }}
              </label>
            </div>
          </div>
        </div>




      </div>

      <div class="text-center mt-3">
        <button class="btn  ms-auto " style="background-color: #034F92; color: white;" type="submit">LOAD</button>
      </div>
      <div *ngIf="data2" class="text-center"><i class="fa fa-print" style="font-size: 40px; color: green;" aria-hidden="true"
          (click)="printReceipt()"></i>
      </div>
    </form>
  </div>

  <!-- Search Results -->


  <!-- Error Message -->
  <div *ngIf="errorMessage" class="text-danger mt-3">
    {{ errorMessage }}
  </div>


  <!-- Form Table Section -->
  <div class="section-border">
    <div class="row g-3" *ngFor="let items of data2">
      <!-- Loop these divs to render form fields -->
      <div class="col-md-4">
        <label class="form-label">GRN No/LR No</label>
        <input type="text" class="form-control" [ngModel]="items.toCity">
      </div>
      <div class="col-md-4">
        <label class="form-label">Sender. Name</label>
        <input type="text" class="form-control" [ngModel]="items.senderName" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Sender Phone</label>
        <input type="text" class="form-control" [ngModel]="items.senderMobile" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Receiver Name</label>
        <input type="text" class="form-control" [ngModel]="items.receiverName" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Receiver Phone</label>
        <input type="text" class="form-control" [ngModel]="items.receiverMobile" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">From City</label>
        <input type="text" class="form-control" [ngModel]="items.fromCity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">To City</label>
        <input type="text" class="form-control" [ngModel]="items.toCity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">From Branch</label>
        <input type="text" class="form-control" [ngModel]="items.pickUpBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">To Branch</label>
        <input type="text" class="form-control" [ngModel]="items.dropBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Booked By Branch</label>
        <input type="text" class="form-control" [ngModel]="items.pickUpBranchname" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Booked By User</label>
        <input type="text" class="form-control" [ngModel]="data2.bookedBy?.name" readonly>
      </div>

      <div class="col-md-4">
        <label class="form-label">bookingDate</label>
        <input type="text" class="form-control" [value]="items.bookingDate | date:'dd/MM/yyyy'" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Loading. Date</label>
        <input type="text" class="form-control" [value]="items.loadingDate |date:'dd/MM/yyyy'" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Unload Date</label>
        <input type="text" class="form-control" [value]="items.unloadingDate |date:'dd/MM/yyyy'" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Delivery Date</label>
        <input type="text" class="form-control" [ngModel]="items.deliveryDate" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Load By User</label>
        <input type="text" class="form-control" [ngModel]="items.loadingByemp" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Unloading By User</label>
        <input type="text" class="form-control" [ngModel]="items.unloadingByemp" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Delivery  By User</label>
        <input type="text" class="form-control" [ngModel]="items.deliveryEmployee" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">booking Status </label>
        <input type="text" class="form-control" [ngModel]="items.bookingStatus" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Parcel Que.</label>
        <input type="text" class="form-control" [ngModel]="items.totalQuantity" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Total Price</label>
        <input type="text" class="form-control" [ngModel]="items.grandTotal" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label">Paid Type</label>
        <input type="text" class="form-control" [ngModel]="items.bookingType" readonly>
      </div>

      <hr>
      <div *ngIf="items.bookingStatus !== 5">

        <form [formGroup]="form1"> 
          <div class="row">
            <div class="col-md-6">
              <label class="form-label form-after">From City</label>
              <select #selectElem class="form-select form-select-sm" formControlName="cancelCity"
                (change)="onFromcitySelect($event)">
                <option value="" selected>Select city</option>
                <option *ngFor="let row2 of citydata" [value]="row2.cityName">
                  {{ row2.cityName }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label form-after">Branch Name</label>
              <select #pickupbranch class="form-select form-select-sm" formControlName="cancelBranch">
                <option value="" selected>Select branch</option>
                <option *ngFor="let row4 of pdata" [value]="row4.name">{{ row4.name }}</option>
              </select>
  
            </div>
  
            <div class="col-md-6" *ngIf="employee?.length">
              <label class="form-label">Cancel By User</label>
              <select class="form-select" formControlName="cancelByUser">
                <option selected disabled>Select User</option>
                <option *ngFor="let emp of employee" [value]="emp.name">
                  {{ emp.name }}
                </option>
              </select>
            </div>
  
            <div class="col-md-6">
              <label class="form-label">Cancel Date</label>
              <input type="text" class="form-control" formControlName="cancelDate" readonly>
            </div>
            <div class="col-md-6">
              <label class="form-label">RefundCharege</label>
              <input type="text" class="form-control" formControlName="refundCharge" placeholder="Enter RefundCharege">
            </div>
            <div class="col-md-6">
              <label class="form-label">RefundAmount</label>
              <input type="text" class="form-control" formControlName="refundAmount" placeholder="Enter RefundAmount">
            </div>
            <div class="col-md-6">
              <label class="form-label">Remarks</label>
              <input type="text" class="form-control" formControlName="remarks" placeholder="Enter Remarks">
            </div>
          </div>
          <div class="text-center mt-4 mb-4">
            <button class="btn btn-dark" (click)="cancelbooking()">Cancel Booking</button>
          </div>
        </form>
    </div>
    
    </div>
  </div>
</div>


<style>
  .recice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }

  .receipt-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    width: 100%;
  }


  .receipt-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .receipt-header h1 {
    font-size: 1.8rem;
    color: #343a40;
  }

  .table {
    margin-bottom: 20px;
  }

  .table th {
    background-color: #e9ecef;
    color: #343a40;
  }

  .footer {
    text-align: center;
    color: #6c757d;
    font-size: 0.9rem;
  }

  .hidden {
    display: none !important;
  }

  @media print {
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .receipt-container {
    page-break-inside: avoid;
    max-height: 100vh;
    overflow: hidden;
    font-size: 12px; /* reduce font-size if needed */
  }

  .table {
    page-break-inside: avoid;
  }

  .table tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .hidden {
    display: none !important;
  }
}

</style>




<div class="recice" [class.hidden]="!showReceiptToPrint" id="printSection">
  <div class="receipt-container">
    <div class="receipt-header">
      <div class="container-fluid" *ngIf="pfdata">
        <h4 class="text-center fw-bold">{{ pfdata.companyName }}</h4>
        <p class="text-center fw-bold">
          Address: {{ pfdata.location }} - {{ pfdata.branchId?.name }} |
          Phone No: {{ pfdata.phone }}
        </p>
      </div>
      <h2>Delivery Receipt</h2>
      <p>Issued on: {{ today | date: 'MMMM d, y' }}</p>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Detail</th>
            <th scope="col">Information</th>
          </tr>
        </thead>
        <tbody *ngFor="let items of data2">
          <tr>
            <td>GRN Number</td>
            <td>{{items.grnNo}}</td>
          </tr>
          <tr>
            <td>Cancel Date</td>
            <td>{{items.cancelDate}}</td>
          </tr>

          <tr>
            <td>Paid Type</td>
            <td>{{items.bookingType}}</td>
          </tr>
          <tr>
            <td>Total Amount</td>
            <td>{{items.grandTotal}}</td>

          </tr>
          <tr>
            <td>RefundAmount</td>
            <td>{{items.refundAmount}}</td>
          </tr>
          <tr>
            <td>RefundCharege</td>
            <td>{{items.refundCharge}}</td>
          </tr>

          <tr>
            <td>FromCity</td>
            <td>{{items.fromCity}}</td>
          </tr>
          <tr>
            <td>ToCity</td>
            <td>{{items.toCity}}</td>
          </tr>
          <tr>
            <td>Sender Name</td>
            <td>{{items.senderName}}</td>
          </tr>
          <tr>
            <td>Receiver Name</td>
            <td>{{items.receiverName}}</td>
          </tr>
      
          <tr>
            <td>cancelByUser</td>
            <td>{{items.cancelByUser}}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end mt-4">
        <div class="d-flex justify-content-end flex-column align-items-end" style="width: 200px; margin-top: 20px;">
          <small style="margin-bottom: 5px;">Sign</small>
          <div style="border-top: 1px solid black; width: 100%;"></div>
        </div>
      </div>
      <div class="footer">
        <p>Thank you for using our services!</p>
        <p>For inquiries, contact supportdeliveryco.com</p>
      </div>
    </div>
  </div>
  