<app-header></app-header>
<h4 class="text-center  "
    style="color: #3C3C3C;font-size: 20px;font-family:
     Poppins;font-weight: 500;text-decoration: underline;word-wrap: break-word;margin-top: 10%;">
    Create Branch</h4>
<form [formGroup]="form">
    <div class="container pb-3">
        <div class="row pt-3">
            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Branch Name</label>
                <input type="text" class="form-control form-select-sm " formControlName="name">
            </div>
            <!-- <div class="col-md-3 col-sm-12">
                <label class="form-label">Branch Type</label>
                <input type="text" class="form-control form-select-sm " formControlName="branchType">
            </div> -->

            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Branch Type</label>
                <select class="form-select" formControlName="branchType">
                    <option value="" selected>Select City</option>
                    <option value="main" >Main</option>
                    <option value="normal" >Normal</option>
                </select>
            </div>




            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">City</label>
                <select class="form-select" formControlName="city">
                    <option value="" selected>Select City</option>
                    <option *ngFor="let branch of citydata" [value]="branch.cityName">{{ branch.cityName }}</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Location</label>
                <input type="text" class="form-control form-select-sm " formControlName="location">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Address</label>
                <input type="text" class="form-control form-select-sm " formControlName="address">
            </div>
            <!-- <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Phone</label>
                <input type="text" class="form-control form-select-sm " formControlName="phone">
                <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger">
                    Invalid phone number (must be 10 digits starting from 6-9)
                </div>
            </div> -->

            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Phone</label>
                <input
                  type="text"
                  class="form-control form-select-sm"
                  formControlName="phone"
                  maxlength="10"
                  pattern="[6-9]{1}[0-9]{9}"
                  (keypress)="allowOnlyNumbers($event)"
                  placeholder="Enter 10-digit phone number"
                />
                <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger">
                  Invalid phone number (must be 10 digits starting from 6-9)
                </div>
              </div>
              

            <!-- <div class="col-md-3 col-sm-12">
                <label class="form-label">Alternate Phone</label>
                <input type="text" class="form-control form-select-sm " formControlName="alternateMobile">
                <div *ngIf="form.get('alternateMobile')?.invalid && form.get('alternateMobile')?.touched"
                    class="text-danger">
                    Invalid phone number (must be 10 digits starting from 6-9)
                </div>
            </div> -->
            <div class="col-md-3 col-sm-12">
                <label class="form-label">Alternate Phone</label>
                <input
                  type="text"
                  class="form-control form-select-sm"
                  formControlName="alternateMobile"
                  maxlength="10"
                  pattern="[6-9]{1}[0-9]{9}"
                  (keypress)="allowOnlyNumbers($event)"
                  placeholder="Enter 10-digit phone number"
                />
                <div *ngIf="form.get('alternateMobile')?.invalid && form.get('alternateMobile')?.touched" class="text-danger">
                  Invalid phone number (must be 10 digits starting from 6-9)
                </div>
              </div>
              

            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Email</label>
                <input type="text" class="form-control form-select-sm " formControlName="email">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">Pin Code</label>
                <input type="text" class="form-control form-select-sm " formControlName="pincode">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="form-label form-after">State</label>
                <select class="form-select form-select-sm" formControlName="state">
                    <option value="" selected> Select State </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Tamilnadu">Tamilnadu</option>
                    <option value="Maharastra">Maharastra</option>
                    <option value="Kerala">Kerala</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-end">
                <button class="btn btn-primary btn-sm " type="button" style=" width: 10rem;" (click)="Add()"
                    [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </div>
</form>


<div class="container mt-5 mb-2">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="p-2">
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>City</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Phone1</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let i=index">
                        <td>{{i + 1}}</td>
                        <td> {{row.name}} </td>
                        <td> {{row.branchType}} </td>
                        <td> {{row.city}} </td>
                        <td> {{row.location}} </td>
                        <td> {{row.address}} </td>
                        <td> {{row.phone}} </td>
                        <td> {{row.alternateMobile}} </td>
                        <td> {{row.email}} </td>
                        <td> {{row.state}} </td>
                        <td>
                            <a (click)="onEdit(row)" data-bs-toggle="modal" href="#exampleModalToggle"
                                class="text-primary p-2" style="cursor: pointer;">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a (click)="Delete(row._id)" class="text-danger" style="cursor: pointer;">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1" *ngIf="repd">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Branch Edit ({{repd.name}})</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card m-5 p-5">
                    <div *ngIf="visible">
                        <h3>Edit Branch</h3>
                        <form [formGroup]="form1">
                            <div class="container pb-3">
                                <div class="row pt-3">
                                    <div class="col-md-3 col-sm-12">
                                        <label>Name:</label>
                                        <input type="text" [(ngModel)]="repd.name" formControlName="name" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label>Branch Type:</label>
                                        <input type="text" [(ngModel)]="repd.branchType" formControlName="branchType" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                            <label class="form-label">City</label>
                                            <select class="form-select" formControlName="city">
                                                <option> {{repd.city}} </option>
                                                <option *ngFor="let branch of citydata" [value]="branch.cityName">{{ branch.cityName }}</option>
                                            </select>
                                        
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Location:</label>
                                        <input type="text" [(ngModel)]="repd.location" formControlName="location" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Address:</label>
                                        <input type="text" [(ngModel)]="repd.address" formControlName="address" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Phone:</label>
                                        <input type="text" [(ngModel)]="repd.phone" formControlName="phone" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Email:</label>
                                        <input type="email" [(ngModel)]="repd.email" formControlName="email" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Pincode:</label>
                                        <input type="text" [(ngModel)]="repd.pincode" formControlName="pincode" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>State:</label>
                                        <select class="form-select form-select-sm" formControlName="state">
                                            <option> {{repd.state}} </option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Tamilnadu">Tamilnadu</option>
                                            <option value="Maharastra">Maharastra</option>
                                            <option value="Kerala">Kerala</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-12">

                                        <label>Alternate Mobile:</label>
                                        <input type="text" [(ngModel)]="repd.alternateMobile" formControlName="alternateMobile" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12 mt-4">

                                    <button type="button"  data-bs-dismiss="modal" (click)="edit(repd._id)"
                                        class="btn btn-success">Update</button>
                                    </div>
                                  
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>