.p-dialog .p-dialog-header {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  
  .p-dialog .p-button {
    width: 150px;
  }
  
  .p-dropdown {
    width: 100%;
  }
  
  .p-button-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  