/* Add border to each row and column */
::ng-deep tr.custom-row {
    border: 1px solid #e0e0e0;
}

::ng-deep tr.custom-row td {
    border: 1px solid #e0e0e0;
    padding: 8px;
    text-align: center;
}

/* Optional: Alternate row background color for better readability */
::ng-deep tr.custom-row:nth-child(even) {
    background-color: #fafafa;
}

::ng-deep tr.custom-row:nth-child(odd) {
    background-color: #ffffff;
}


.custom-row td {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.p-datatable-scrollable-body {
    overflow-y: auto;
}

a {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
