<app-header></app-header>

<h4 class="text-center mb-4 pt-5 mt-5" style="color: #3C3C3C;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word">Parcel Loading Offline</h4>

  
<div class="container pt-5 pb-5" style="border: 1px solid #7C7C7C;">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" ></p-toast>
    <div class="container">
        <form [formGroup]="form">
            <div class="row g-3">
              <div class="col-md-4 col-sm-12">
                <label class="form-label">From Booking Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="startDate">
              </div>
              
              <div class="col-md-4 col-sm-12">
                      <label class="form-label">From City</label>
                      <select #selectElem class="form-control select2" formControlName="fromCity" (change)="onFromcitySelect($event)">
                        <option value="" selected>Select City</option>
                        <option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName }}</option>
                      </select>
                </div>
                
              <div class="col-md-4 col-sm-12">
                <label class="form-label">To City</label>
                  <!-- <select #demoSelect multiple class="form-control" formControlName="toCityArray">
                    <option *ngFor="let city of cities" [value]="city.cityName">
                      {{ city.cityName }}
                    </option>
                  </select> -->
                  <select #demoSelect multiple class="form-control" (change)="onToCityChange($event)">
                    <option *ngFor="let city of cities" [value]="city.cityName">
                      {{ city.cityName }}
                    </option>
                  </select>
                  
              </div>
              
              <div class="col-md-3 col-sm-12">
                <label class="form-label">To Booking Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="endDate">
                
              </div>
              
              <div class="col-md-3 col-sm-12">
                <label class="form-label">Book Branch</label>
                <select class="form-select form-select-sm" formControlName="pickUpBranch">
                    <option value="" selected>Select Branch</option>
                  <option *ngFor="let branch of tbcdata" [value]="branch.branchUniqueId">{{ branch.name }}</option>
                </select>
              </div>
          
              <div class="col-md-3 col-sm-12">
                <div class="mt-4">
                  <button class="btn btn-primary btn-sm" pRipple  (click)="onLoad()" style="width: 10rem;">Load</button>
                </div>
              </div>
            </div>
          </form>
          
          <!-- Data Table -->
          <div class="table-responsive mt-4" *ngIf="data">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> <input  type="checkbox" (change)="onSelectAllChange($event)" [checked]="allSelected" /> Select All </th>
                  <th>S.No</th>
                  <th>LR No</th>
                  <th>Book by Branch</th>
                  <th>Drop Branch</th>
                  <th>Sender</th>
                  <th>Receiver</th>
                  <th>City Name</th>
                  <th>Transaction Date</th>
                  <th>Paid Type</th>
                  <th>Qty</th>
                  <th>Charge</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data; let i=index">
                  <td> <input type="checkbox" (change)="onGrnNoChange($event, row.grnNo)" [checked]="form1.get('grnNo')?.value.includes(row.grnNo)"/>  </td>
                <td>{{ i+1 }}</td>
                  <td>{{ row.lrNumber }}</td>
                  <td>{{ row.pickUpBranch }}</td>
                  <td>{{ row.dropBranch}}</td>
                  <td>{{ row.senderName }} <br><small>{{row.senderMobile}}</small></td>
                  <td>{{ row.receiverName }} <br><small>{{row.receiverMobile}}</small></td>
                  <td>{{ row.toCity }}</td>
                  <td>{{ row.bookingDate | date:'dd/MM/yyyy' }}</td>
                  <td> {{row.bookingType}} </td>
                  <td> {{row.totalQuantity}} </td>
                  <td>{{ row.grandTotal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        
          
    </div>
    
    <form [formGroup]="form1">
        <div class="container pb-3">
                <div class="row pt-3">
                    <!-- <div class="col-md-4 col-sm-12">
                        <label class="form-label">Loading date</label>
                        <input type="date" class="form-control form-select-sm" formControlName="loadingDate">
                    </div> -->
                    <div class="col-md-3 col-sm-12">
                        <label class="form-label">Vehicle Number</label>
                        <select class="form-select form-select-sm mb-3" formControlName="vehicalNumber" aria-label="Large select example">
                            <option value="" selected>Select Vehicle Number</option>
                            <option *ngFor="let vehicle of vehicle" [value]="vehicle.vehicleNo">{{ vehicle.vehicleNo }}</option>
                        </select>
                    </div>
                    
                    <div class="col-md-2 col-sm-12">
                        <label class="form-label">Conductor name</label>
                        <input type="text" class="form-control form-select-sm " formControlName="driverName">
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <label class="form-label">Conductor Number</label>
                        <input type="text" class="form-control form-select-sm " formControlName="driverNo">
                    </div>
                </div>
        
            </div>
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <label class="form-label">Remark</label>
                            <input type="text" class="form-control form-select-lg ">
                        </div>
                        <div class="col-md-3 ">
                            <label class="form-label">Drop Branch</label>
                            <input type="text" class="form-control form-select-lg ">
                        </div> -->
                        <div class="col-md-3 d-flex align-items-end">
                            <button class="btn btn-primary btn-sm " type="button"
                                style=" width: 10rem;" (click)="ParcelLoad()">Save</button>
                        </div>
                    </div>
                </div>
    </form>
</div>







  
  
<app-parcel-loading-data></app-parcel-loading-data>