
.form-control, .btn {
    border-radius: 5px;
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
    .btn {
        width: 100%;
    }
}

.btn-primary {
    background-color: #143374 !important;
    border-color: #143374 !important;
}


.select2-container .select2-selection--single{
    height:24px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}




