<app-header></app-header>



<h4 class="text-center mb-4 pt-5 mt-4" style="color: #3C3C3C;font-size: 20px;font-family: Poppins;font-weight: 500;text-decoration: underline;word-wrap: break-word">Create Employee</h4>
<p-toast></p-toast>
  
<form [formGroup]="form">
    <div class="container pb-3">
            <div class="row pt-3">
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control form-select-sm " formControlName="name">
                </div>
                <div class="col-md-3 col-sm-12">
                <label class="form-label">Select Branch</label>
                <select class="form-select form-select-sm" formControlName="branchId">
                    <option value="" selected>Select Branch</option>
                  <option *ngFor="let branch of branchdata" [value]="branch._id">{{ branch.name }}</option>
                </select>
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control form-select-sm " formControlName="username">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Password</label>
                    <input type="text" class="form-control form-select-sm " formControlName="password">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Location</label>
                    <input type="text" class="form-control form-select-sm " formControlName="location">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control form-select-sm " formControlName="phone">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control form-select-sm " formControlName="email">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Documents</label>
                    <input type="text" class="form-control form-select-sm " formControlName="documents">
                </div>
                <div class="col-md-3 col-sm-12">
                    <label class="form-label">Role</label> 
                    <select class="form-select form-select-sm" formControlName="role">
                        <option value="" selected>Select Role</option>
                      <option value="subadmin">Sub Branch</option>
                      <option value="employee">Employee</option>
                      <option value="accountant">Accountant</option>
                      <option value="superviser">Superviser</option>
                      <option value="driver">Driver</option>
                    </select>
                </div>
                
            </div>
    
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 d-flex align-items-end">
                        <button class="btn btn-primary btn-sm " type="button"
                            style=" width: 10rem;" (click)="Add()" [disabled]="!form.valid">Submit</button>
                    </div>
                </div>
            </div>
</form>


<app-footer></app-footer>