.navbar {
    background-color: #0d2d6c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar .nav-link, .navbar .navbar-brand {
    color: white;
}
.card {
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}
.btn-primary {
    background-color: #0d2d6c;
    border: none;
}
.btn-secondary {
    background-color: #6c757d;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex
;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}
.navbar-nav .nav-item {
    margin-right: 60px; /* Adjust the spacing as needed */
}
.navbar-nav .nav-item {
    margin: 0 60px;
}