.navbar {
    background-color: #034f92;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  
    .layout-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 20px;
  
      .layout-menuitem-category {
        position: relative;
  
        .layout-menuitem-root-text, a {
          padding: 12px;
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          cursor: pointer;
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;
  
          &:hover {
            background-color: #056bb5;
            border-radius: 6px;
          }
        }
  
        .submenu {
          display: none;
          position: absolute;
          top: 100%; /* Position directly below parent */
          left: 0;
          width: 100%; /* Ensure submenu width matches parent */
          background-color: #056bb5;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          border-radius: 0 0 6px 6px;
          z-index: 999;
          width: 200px;
          li {
            width: 100%;
  
            a {
              padding: 12px;
              color: #ffffff;
              text-decoration: none;
              display: block;
              font-size: 14px;
              transition: background-color 0.3s;
  
              &:hover {
                background-color: #045b99;
              }
            }
          }
        }
  
        &:hover .submenu {
          display: block;
        }
      }
    }
  }
  