.container {
    max-width: 900px;
    margin-top: 20px;
}
.card-header {
    background-color: #0d47a1;
    color: white;
    font-weight: bold;
}
.form-control {
    max-width: 200px;
    display: inline-block;
}
body{
    background-color: #f8f9fa;

}