<app-header> </app-header>
<div class="container" style="padding-top: 4%;">
    <app-search-grn-number></app-search-grn-number>
</div>

<div class="container mt-4">
    <div class="card p-4">
        <form [formGroup]="form">
            <div *ngIf="bookingSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                Successfully created booking!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <div class="row">
                <!-- <div class="col-md-4">
                    <label class="form-label">From City </label>
                    <select class="form-select form-select-sm"  formControlName="fromCity">
                        <option value="" selected>Select City</option>
                        <option *ngFor="let row2 of citydata" value="{{row2.cityName}}"> {{row2.cityName}} </option>
                    </select>
                </div> -->
                <div class="col-md-4">
                    <label class="form-label">To City </label>
                    <input type="text" class="form-control form-select-sm" formControlName="fromCity" [(ngModel)]="pfdata.city" hidden>
                    <input type="text" class="form-control form-select-sm" formControlName="pickUpBranch" [(ngModel)]="pfdata.name" hidden>
                    <select class="form-select form-select-sm"  formControlName="toCity">
                        <option value="" selected>Select City</option>
                        <option *ngFor="let row of citydata" value="{{row.cityName}}"> {{row.cityName}} </option>
                    </select>
                    <!-- <input class="form-control form-select-sm" list="datalistOptions" id="exampleDataList" formControlName="toCity" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                    <option *ngFor="let row of citydata" value="{{row.cityName}}"> {{row.cityName}} </option>
                    </datalist> -->
                </div>
                <!-- <div class="col-md-4">
                    <label class="form-label">Pickup Branch </label>
                    <select class="form-select form-select-sm"  formControlName="pickUpBranch">
                        <option value="" selected>Select Pickup Branch</option>
                        <option *ngFor="let row4 of branchdata" value="{{row4.name}}"> {{row4.name}} </option>
                    </select>
                </div> -->
                <div class="col-md-4">
                    <label class="form-label">Drop Branch </label>
                    <select class="form-select form-select-sm"  formControlName="dropBranch">
                        <option value="" selected>Select Drop Branch</option>
                        <option *ngFor="let row1 of branchdata" value="{{row1.name}}"> {{row1.name}} </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Dispatch Type </label>
                    <!-- <input type="text" class="form-control form-select-sm" formControlName="dispatchType"  /> -->
                    <select class="form-select form-select-sm" formControlName="dispatchType">
                        <option value="" selected>Select Dispatch Type</option>
                        <option value="Door Delivery">Door Delivery</option>
                        <option value="Branch Delivery">Branch Delivery</option>
                      <option value="Express">Express</option>
                      <option value="Normal">Normal</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Booking Type </label>
                    <select class="form-select form-select-sm" formControlName="bookingType">
                        <option value="" selected>Select Booking Type</option>
                      <option value="paid">Paid</option>
                      <option value="toPay">To Pay</option>
                      <option value="credit">Credit</option>
                      <option value="toPay">Free Sample</option>
                    </select>
                </div>
            </div>

            <h5 class="mt-3">Items</h5>
            <div formArrayName="packages">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Package</th>
                                <th>Contains</th>
                                <th>Weight</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of packages.controls; let i = index" [formGroupName]="i">
                                <td><input type="number" class="form-control form-select-sm" formControlName="quantity"  (input)="calculateTotal(i)"></td>
                                <td>
                                    <select class="form-control form-select-sm" formControlName="packageType">
                                        <option value="Box">Box</option>
                                        <option value="Box">Cotton</option>
                                        <option value="Box">Cover</option>
                                    </select>
                                </td>
                                <td><input type="number" class="form-control form-select-sm" formControlName="contains"></td>
                                <td><input type="number" class="form-control form-select-sm" formControlName="weight"></td>
                                <td><input type="number" class="form-control form-select-sm" formControlName="unitPrice" (input)="calculateTotal(i)"></td>
                                <td><input type="number" class="form-control form-select-sm" formControlName="totalPrice" readonly></td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="removeBarcodeData(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-sm" (click)="addOrderItem()">Add +</button>

            <div class="container mt-5 mt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label class="form-label">Sender Name </label>
                                <input type="text" class="form-control form-select-sm " formControlName="senderName">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Sender Mobile Number </label>
                                <input type="number" class="form-control form-select-sm " formControlName="senderMobile">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Sender Address </label>
                                <input type="text" class="form-control form-select-sm" formControlName="senderAddress">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Sender GST No(0)</label>
                                <input type="text" class="form-control form-select-sm " formControlName="senderGST"> 
                            </div>
                        </div>

                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="sameAsSender" (change)="toggleSameAsSender($event)">
                            <label class="form-check-label" for="sameAsSender">
                              Same as Receiver Details
                            </label>
                          </div>

                        <div class="row mt-3" >
                            <div class="col-md-3">
                                <label class="form-label">Receiver Name </label>
                                <input type="text" class="form-control form-select-sm " formControlName="receiverName">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Receiver Mobile Number </label>
                                <input type="number" class="form-control form-select-sm " formControlName="receiverMobile">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Receiver Address </label>
                                <input type="text" class="form-control form-select-sm " formControlName="receiverAddress">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Receiver GST No(0)</label>
                                <input type="text" class="form-control form-select-sm " formControlName="receiverGst">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-5 pt-1">
                            <div class="d-grid gap-2 col-12 mx-auto mt-4">
                                <button type="button" class="btn btn-primary" (click)="add()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


