<app-header></app-header>
<div class="container" >
  <app-search-grn-number></app-search-grn-number>
</div>


<h4 class="text-center  " style="color: #3C3C3C;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word">Parcel Booking</h4>
<div class="container mt-4">
  <div class="card p-4">
    <form [formGroup]="form">
      <div *ngIf="bookingSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        Successfully created booking!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label form-after">From City</label>
          <select #selectElem class="form-select form-select-sm" formControlName="fromCity">
            <option value="" selected>Select City</option>
            <option *ngFor="let row2 of citydata" [value]="row2.cityName">{{ row2.cityName }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label form-after">Pickup Branch</label>
          <select #pickupbranch class="form-select form-select-sm" formControlName="pickUpBranch">
            <option value="" selected>Select Pickup Branch</option>
            <!-- <option value="{{pfdata.branchUniqueId}}"  selected>{{pfdata.name}}</option> -->
            <option *ngFor="let row4 of pdata" [value]="row4.branchUniqueId"> {{ row4.name }} </option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label form-after">To City</label>
          <select #selectElem2 class="form-select form-select-sm" formControlName="toCity">
            <option value="" selected>Select City</option>
            <option *ngFor="let row of citydata" [value]="row.cityName">{{ row.cityName }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label form-after">Drop Branch</label>
          <select #droupbranch class="form-select form-select-sm" formControlName="dropBranch">
            <option value="" selected>Select Drop Branch</option>
            <option *ngFor="let row1 of tbcdata" [value]="row1.branchUniqueId"> {{ row1.name }} </option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label">Dispatch Type </label>
          <!-- <input type="text" class="form-control form-select-sm" formControlName="dispatchType"  /> -->
          <select #dispatchtype class="form-select form-select-sm" formControlName="dispatchType">
            <option value="" selected>Select Dispatch Type</option>
            <option *ngFor="let dp of dptype" value="{{dp.name}}">{{dp.name}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label form-after">Booking Type </label>
          <select #bookingtype class="form-select form-select-sm" formControlName="bookingType">
            <option value="" selected>Select Booking Type</option>
            <option value="paid">Paid</option>
            <option value="toPay">To Pay</option>
            <option value="credit">Credit</option>
            <option value="CLR">CLR</option>
            <option value="FOC">Free of Cost</option>
          </select>
        </div>
      </div>

      <h6 class="mt-0 text-success">Items</h6>
      <div formArrayName="packages">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="form-after">Qty</th>
                <th class="form-after">Package</th>
                <th>Contains</th>
                <th>Weight</th>
                <th class="form-after">Unit Price</th>
                <th>Total Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of packages.controls; let i = index" [formGroupName]="i">
                <td><input type="number" class="form-control form-select-sm " formControlName="quantity"
                    (input)="calculateTotal(i)"></td>
                <td>
                  <select class="form-control form-select-sm" formControlName="packageType">
                    <option value="" selected>Select Package Type</option>
                    <option *ngFor="let pack of packdata" value="{{pack.name}}">{{pack.name}}</option>
                  </select>
                </td>
                <td><input type="text" class="form-control form-select-sm" formControlName="contains"></td>
                <td><input type="number" class="form-control form-select-sm" formControlName="weight"></td>
                <td><input type="number" class="form-control form-select-sm" formControlName="unitPrice"
                    (input)="calculateTotal(i)"></td>
                <td><input type="number" class="form-control form-select-sm" formControlName="totalPrice" readonly></td>
                <!-- <td>
                                    <button type="button" class="btn btn-success btn-sm" (click)="addOrderItem()">Add +</button>

                                    <a class="text-white" style="cursor: pointer;" (click)="removeBarcodeData(i)"> <i class="fa fa-trash"></i> </a>

                                </td> -->
                <td>
                  <button *ngIf="i === 0" type="button" class="btn btn-success btn-sm" (click)="addOrderItem()">
                    Add +
                  </button>

                  <a *ngIf="i > 0" class="text-white" style="cursor: pointer;" (click)="removeBarcodeData(i)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <button type="button" class="btn btn-danger btn-sm" (click)="addOrderItem()">Add +</button> -->
      <tr style="font-size: small;">
        <!-- <button type="button" class="btn btn-danger btn-sm" (click)="addOrderItem()">Add +</button> -->
      <tr style="font-size: 13px;">
        <th>GSt(+)</th>
        <th>Service Charges(+)</th>
        <th>Hamali Charges(+)</th>
        <th>Door Delivery Charges(+)</th>
        <th>Door Pickup Charges(+)</th>
        <th>Value of Goods</th>
        <th>Grand Total</th>
      </tr>
      <tr>
        <th><input type="number" class="form-control form-select-sm" readonly></th>
        <th><input type="number" class="form-control form-select-sm" value="{{sdata}}" formControlName="serviceCharges"
            (input)="calculateGrandTotal()"></th>
        <th><input type="number" class="form-control form-select-sm" formControlName="hamaliCharges"
            (input)="calculateGrandTotal()"></th>
        <th><input type="number" class="form-control form-select-sm" formControlName="doorDeliveryCharges"
            (input)="calculateGrandTotal()"></th>
        <th><input type="number" class="form-control form-select-sm" formControlName="doorPickupCharges"
            (input)="calculateGrandTotal()"></th>
        <th><input type="number" class="form-control form-select-sm" formControlName="valueOfGoods"></th>
        <th><input type="number" class="form-control form-select-sm" formControlName="grandTotal" readonly></th>
      </tr>

      <div class="container mt-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="row mt-3">
              <div class="col-md-3">
                <!-- Sender Name Input -->
                <label class="form-label form-after">Sender Name</label>
                <input type="text" class="form-control form-select-sm" formControlName="senderName"
                  [(ngModel)]="searchTerm" (input)="searchUser()" (blur)="hideDropdown()">

                <!-- Dropdown for Suggestions -->
                <ul *ngIf="showDropdown && userList.length" class="dropdown-menu show">
                  <li *ngFor="let user of userList" class="dropdown-item" (click)="selectUser(user)">
                    {{ user.name }}
                  </li>
                </ul>
              </div>
              <!-- Other Fields (Auto-populated) -->
              <div class="col-md-3">
                <label class="form-label form-after">Sender Mobile Number</label>
                <input class="form-control form-select-sm" formControlName="senderMobile">
              </div>

              <div class="col-md-3">
                <label class="form-label">Sender Address</label>
                <input type="text" class="form-control form-select-sm" formControlName="senderAddress">
              </div>

              <div class="col-md-3">
                <label class="form-label">Sender GST No(0)</label>
                <input type="text" class="form-control form-select-sm" formControlName="senderGST">
              </div>

            </div>

            <div class="form-check mt-0">
              <input class="form-check-input" type="checkbox" id="sameAsSender" (change)="toggleSameAsSender($event)">
              <label class="form-check-label" for="sameAsSender">
                Same as Receiver Details
              </label>
            </div>

            <div class="row mt-0">
              <div class="col-md-3">
                <label class="form-label form-after">Receiver Name </label>
                <input type="text" class="form-control form-select-sm " formControlName="receiverName">
              </div>
              <div class="col-md-3">
                <label class="form-label form-after">Receiver Mobile Number </label>
                <input class="form-control form-select-sm " formControlName="receiverMobile">
              </div>
              <div class="col-md-3">
                <label class="form-label">Receiver Address </label>
                <input type="text" class="form-control form-select-sm " formControlName="receiverAddress">
              </div>
              <div class="col-md-3">
                <label class="form-label">Receiver GST No(0)</label>
                <input type="text" class="form-control form-select-sm " formControlName="receiverGst">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-5 pt-1">
                  <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <!-- Modal for preview -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">

                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Booking Details Preview</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                          </div>
                          <div class="modal-body">
                            <div class="container text-center">
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="fromCity"><strong>From City:</strong></label>
                                  <p>{{ modelData?.fromCity }}</p>
                                </div>
                                <div class="col-md-6">
                                  <label for="toCity"><strong>To City:</strong></label>
                                  <p>{{ modelData?.toCity }}</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="pickUpBranch"><strong>Pickup Branch:</strong></label>
                                  <p>{{ modelData?.pickUpBranchName }}</p>
                                </div>
                                <div class="col-md-6">
                                  <label for="dropBranch"><strong>Drop Branch:</strong></label>
                                  <p>{{ modelData?.dropBranchName }}</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="bookingType"><strong>Booking Type:</strong></label>
                                  <p>{{ modelData?.bookingType }}</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="senderName"><strong>Sender Name:</strong></label>
                                  <p>{{ modelData?.senderName }}</p>
                                </div>
                                <div class="col-md-6">
                                  <label for="senderMobile"><strong>Sender Mobile:</strong></label>
                                  <p>{{ modelData?.senderMobile }}</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="senderName"><strong>receiverName Name:</strong></label>
                                  <p>{{ modelData?.receiverName }}</p>
                                </div>
                                <div class="col-md-6">
                                  <label for="senderMobile"><strong>receiver Mobile:</strong></label>
                                  <!-- <p>{{ modelData?.receiverMobile }}</p> -->
                                  
                                </div>
                              </div>
                              <!-- Add Package Details -->
                              <div class="row" *ngFor="let package of modelData?.packages; let i = index">
                                <div class="col-md-4">
                                  <label for="quantity"><strong>Quantity:</strong></label>
                                  <p>{{ package.quantity }}</p>
                                </div>
                                <div class="col-md-4">
                                  <label for="packageType"><strong>Package Type:</strong></label>
                                  <p>{{ package.packageType }}</p>
                                </div>
                                <div class="col-md-4">
                                  <label for="unitPrice"><strong>Unit Price:</strong></label>
                                  <p>{{ package.unitPrice }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="confirmBooking()">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                      (click)="openPreviewModal()">Submit</button>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>