<app-header></app-header>

<h4 class="text-center mb-4 pt-5 mt-5" style="color: #3C3C3C;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word">Parcel UnLoading Offline</h4>

<!-- <form class="row mb-3" (ngSubmit)="searchUser()">
    <div class="col-md-6 p-3 input-field">
      <label for="searchTerm">Search by User ID <span class="text-danger">*</span></label>
      <input
        required
        type="text"
        id="searchTerm"
        name="searchTerm"
        placeholder="Enter User ID"
        [(ngModel)]="searchTerm" 
        class="form-control"
      />
    </div>
  
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-sm btn-primary">
        Search <i class="pi pi-search"></i>
      </button>
    </div>
  </form>

  <div *ngIf="data2 && data2.length > 0">
    <pre>{{data2}}</pre> 
  </div>  -->

  
<div class="container pt-5 pb-5" style="border: 1px solid #7C7C7C;">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" ></p-toast>
    <div class="container">
        <form [formGroup]="form">
            <div class="row g-3">
              <div class="col-md-4 col-sm-12">
                <label class="form-label">From Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="fromDate">
              </div>

              
              <div class="col-md-4 col-sm-12">
                <label class="form-label">From City</label>
                <div class="border rounded p-2" style="max-height: 150px; overflow-y: auto;"> 
                  <div *ngFor="let city of cities">
                    <input type="checkbox"
                      [value]="city.cityName"
                      (change)="onToCityChange($event, city.cityName)"
                      [checked]="fromCityArray.value.includes(city.cityName)" />
                    {{ city.cityName }}
                  </div>
                </div>
              </div> 
              
              <div class="col-md-4 col-sm-12">
                <label class="form-label">To City</label>
                <select class="form-select form-select-sm" formControlName="toCity">
                  <option value="" selected>Select City</option>
                  <option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName }}</option>
                </select>
              </div>
                           
              
              <div class="col-md-3 col-sm-12">
                <label class="form-label">To Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="toDate">
              </div>
              
              <div class="col-md-3 col-sm-12">
                <label class="form-label">Branch</label>
                <select class="form-select form-select-sm" formControlName="branch">
                    <option value="" selected>Select Branch</option>
                  <option *ngFor="let branch of branchdata" [value]="branch.name">{{ branch.name }}</option>
                </select>
              </div>
              <!-- //new file -->
              <div class="col-md-3 col-sm-12">
                <label class="form-label">Vehicle Number</label>
                <select class="form-select form-select-sm mb-3" formControlName="vehicleNo" aria-label="Large select example">
                    <option value="" selected>Select Vehicle Number</option>
                    <option *ngFor="let vehicle of vehicle" [value]="vehicle.vehicleNo">{{ vehicle.vehicleNo }}</option>
                </select>
            </div>
          
              <div class="col-md-3 col-sm-12">
                <div class="mt-4">
                  <button class="btn btn-primary btn-sm" pRipple  (click)="onLoad()" style="width: 10rem;">Load</button>
                </div>
              </div>
            </div>
          </form>
          
          <!-- Data Table -->
          <div class="table-responsive mt-4" *ngIf="data">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>LR No</th>
                  <th>Book by Branch</th>
                  <th>Drop Branch</th>
                  <th>Sender</th>
                  <th>Receiver</th>
                  <th>City Name</th>
                  <th>Transaction Date</th>
                  <th>Paid Type</th>
                  <th>Qty</th>
                  <th>Charge</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data; let i=index">
                <td>{{ i+1 }}</td>
                  <td>{{ row.lrNumber }}</td>
                  <td>{{ row.pickUpBranch }}</td>
                  <td>{{ row.dropBranch}}</td>
                  <td>{{ row.senderName }} <br><small>{{row.senderMobile}}</small></td>
                  <td>{{ row.receiverName }} <br><small>{{row.receiverMobile}}</small></td>
                  <td>{{ row.toCity }}</td>
                  <td>{{ row.bookingDate | date:'dd/MM/yyyy' }}</td>
                  <td> </td>
                  <td> </td>
                  <td>{{ row.grandTotal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        
          
    </div>
    
    <form [formGroup]="form1">
        <div class="container pb-3">
                <div class="row pt-3">
                   
                    
                 
                </div>
        
            </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-end">
                            <button class="btn btn-primary btn-sm " type="button"
                                style=" width: 10rem;" (click)="ParcelLoad()">Save</button>
                        </div>
                    </div>
                </div>
    </form>
</div>

<app-parcel-loading-data></app-parcel-loading-data>