<div class=" container-fluid ">
  <h4 class="text-center">SREE KALESWARI LOGISTICS</h4>
  <p class="text-center">Address: VIJAYAWADA - Hanuman Peta Phone No: 7799701271</p>
  <!-- <p class="fw-bold text-center ">LR No: {{data1.lrNumber}} </p> -->



  <div class="container mt-3">
    <h4 class=" fw-bold">SENDER'S COPY</h4>
    <div class="table-responsive mt-3">
      <table class="table table-bordered text-white table-custom">
        <thead class="table-header">
          <tr>
            <th>Sender Details</th>
            <th>Receiver Details</th>
            <th>{{ data1.bookingDate | date: 'dd/MM/yyyy' }}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <p class="fw-bold" style="font-size: 15px; text-transform: uppercase;">
                {{ data1.senderName }}
              <p class="fw-bold">{{data1.senderMobile}}
              </p>
            </td>


            <td>
              <p class="fw-bold">{{data1.receiverName}} </p>
              <p class="fw-bold">{{data1.receiverMobile}}</p>
            </td>
            <td>
              <div *ngIf="qrData" class="qr-code ">
                <h6>{{ data1.lrNumber }}</h6>
                <qrcode *ngIf="qrData" [qrdata]="qrData" [width]="50" [errorCorrectionLevel]="'M'"></qrcode>
              </div>
            </td>
          </tr>
          <tr class="text-primary">
            <th colspan="1" width="25%">Details of Contents</th>
            <th colspan="1" width="25%">No of Article</th>
            <th colspan="1" width="50%">No of Article</th>
          </tr>
          <tr *ngFor="let cdata of data1.packages">
            <th>
              <span> {{cdata.contains}} <br></span></th>
            <th>
              <span> {{cdata.quantity}} <br></span>
            </th>
            <th>
              <p>Freight Charges: {{data1.serviceCharge}} </p>
              <p>Door devilery Changers: {{data1.doorDeliveryCharge}}</p>
              <p>LR Changers: {{data1.hamaliCharge}}</p>
              <p>NETAMOUNT: {{data1.grandTotal | currency:'INR':true:'1.0-0'}}</p>
            </th>
          </tr>
<!--       
          <tr>
            <th>Sender's Signture &nbsp;</th>
          </tr> -->


        </tbody>

        <tfoot class="table-light text-center fw-bold">
          <!-- <tr rowspan="1 " > -->


            <!-- <tr>
              <td rowspan="5">Row-spanning cell</td>
              <td>
                <div *ngIf="qrData" class="qr-code  ">
                  <qrcode *ngIf="qrData" [qrdata]="qrData" [width]="130" [errorCorrectionLevel]="'M'"></qrcode>
                  <h6>NRNO/GRNO:{{ data1.lrNumber }}</h6>
                </div>
              </td>
            </tr> -->
          
          <!-- </tr> -->
        </tfoot>



      </table>


<div class="d-flex justify-content-center">
  <div *ngIf="qrData" class="qr-code">
    <qrcode *ngIf="qrData" [qrdata]="qrData" class="bg-light" [width]="140" [errorCorrectionLevel]="'M'"></qrcode>
    <h6>NRNO/GRNO:{{ data1.lrNumber }}</h6>
  </div>
</div>

    </div>
    <!-- <h4 class="text-end fw-bold">CONSIGMENT COPY</h4> -->
    <!-- <div class="table-responsive mt-3">
      <table class="table table-bordered text-white table-custom">
        <thead class="table-header">
          <tr>
            <th>Sender Details</th>
            <th>Receiver Details</th>
            <th>{{data1.bookingDate
                }}</th>
            <th>{{ data1.bookingDate | date: 'dd/MM/yyyy' }}</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="fw-bold" style="font-size: 15px; text-transform: uppercase;">
                {{ data1.senderName }}
              <p class="fw-bold">{{data1.senderMobile}} </p>
            </td>
            <td>
              <p class="fw-bold">{{data1.receiverName}} </p>
              <p class="fw-bold">{{data1.receiverMobile}}</p>
            </td>
            
            <td>
              <div class="d-flex justify-content-center align-items-center ">
                <div *ngIf="qrData" class="qr-code text-center">
                  <h6>{{ data1.lrNumber }}</h6>
                  <qrcode *ngIf="qrData" [qrdata]="qrData" [width]="50" [errorCorrectionLevel]="'M'"></qrcode>


                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>





  <div class="container-fluid d-flex justify-content-evenly" *ngIf="data1">
    <div class="row">
      <!-- <p class="fw-bold">To</p> -->
      <!-- <p class="fw-bold" style="font-size: 20px; text-transform: uppercase;">
      {{ data1.senderName }}
  </p> -->
      <!-- <p class="fw-bold">{{data1.senderMobile}}  </p> -->
      <!-- <p class="fw-bold">Date: {{data1.bookingDate | date:'dd/MMM/yyyy'}} </p> 
       <p class="fw-bold">{{data1.toCity}}</p> 
      <p class="fw-bold">{{data1.grnNo}}</p> 
      <p class="fw-bold">{{data1.dropBranchname}}</p> -->
    </div>
    <div>
      <!-- <p class="fw-bold">From</p> -->
      <!-- <p class="fw-bold">{{data1.senderAddress}}  </p> -->
      <!-- <p class="fw-bold">{{data1.receiverName}} </p>
    <p class="fw-bold">{{data1.receiverMobile}}</p> -->
      <!-- <p class="fw-bold">{{data1.receiverAddress}} </p>
    <p class="fw-bold">{{data1.senderMobile}}  </p>
     <p class="fw-bold">{{data1.pickUpBranchname}}  </p>
    <p class="fw-bold">{{data1.fromCity}}  </p> -->
    </div>
  </div>


  <div class="d-flex justify-content-end">
    <h6 class="text-end">SenderSign</h6>&nbsp;&nbsp;
    <hr class="text-end" style="border: 1px solid #1a1818; width: 10%;">
  </div>

  <div *ngIf="!loading">
    <div class="hide-on-print hide-on-pdf">
      <!-- <button type="button" class="btn btn-sm btn-primary m-2 " (click)="downloadAsPDF()"><i class="pi pi-file-pdf"></i> PDF</button>   -->
      <button type="button" class="btn btn-sm btn-danger" (click)="printPage()"><i class="pi pi-print"></i>
        Print</button>
      <button type="button" class="btn btn-sm btn-primary ml-2" routerLink="/bookingreport"><i class="pi pi-print"></i>
        Back to New Booking</button>
    </div>







  