
  
   // table{
   //  border: 2px solid rgb(77, 76, 78);
   // }
   
   table {
      width: 100%;
      border-collapse: collapse; /* Ensures proper border rendering */
  }
  th, td {
      border: 1px solid black; /* Adds border to cells */
      padding: 8px;
  }