<app-header></app-header>


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg profile-card">
        <div class="card-body">
            <h3 class="text-center mb-4 text-white">Profile Information</h3>
            <form [formGroup]="form">
                <div class="container pb-3">
                    <div class="row pt-3 justify-content-center">
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Company Name</label>
                            <input type="text" class="form-control form-select-sm input-style"
                                [(ngModel)]="data.companyName" formControlName="companyName">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Name</label>
                            <input type="text" class="form-control form-select-sm input-style" [(ngModel)]="data.name"
                                formControlName="name">
                        </div>
                    </div>
                    <div class="row pt-3 justify-content-center">
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Username</label>
                            <input type="text" class="form-control form-select-sm input-style"
                                [(ngModel)]="data.username" formControlName="username">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Address</label>
                            <textarea type="text" class="form-control form-select-sm input-style"
                                [(ngModel)]="data.address" formControlName="address"> {{data.address}} </textarea>
                        </div>
                    </div>
                    <div class="row pt-3 justify-content-center">
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Location</label>
                            <input type="text" class="form-control form-select-sm input-style"
                                [(ngModel)]="data.location" formControlName="location">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Phone</label>
                            <input type="text" class="form-control form-select-sm input-style" [(ngModel)]="data.phone"
                                formControlName="phone">
                        </div>
                    </div>
                    <div class="row pt-3 justify-content-center">
                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Email</label>
                            <input type="text" class="form-control form-select-sm input-style" [(ngModel)]="data.email"
                                formControlName="email">
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label class="form-label text-white">Branch</label>
                            <select #selectElem class="form-select form-select-sm fromCity" formControlName="branchId">
                                <option value="" disabled selected>{{ data?.branchId?.name }}</option>
                                <option *ngFor="let row2 of ALLbranchdata" [value]="row2._id">{{ row2.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-primary btn-sm custom-btn" type="button" (click)="edit()"
                        >
                        Submit
                    </button>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                        Change Password
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade " id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                {{msg1}}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form1">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="oldPassword" class="form-label">Old Password <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="oldPassword" id="oldPassword"
                                required />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="newPassword" class="form-label">New Password <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="newPassword" id="newPassword"
                                required />
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary" (click)="changePassword()"
                            [disabled]="!form1.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

