
  
  table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    
   td, th{
      border-top: 1px solid #ECF0F1;
      padding: 10px;
    }
    
    td{
      border-left: 1px solid #ECF0F1;
      border-right: 1px solid #ECF0F1;
      
    }

    th{
      background-color: #6E84AD;
      color: white;
    }
    td{
        color: white;
    }
    tr:nth-of-type(even) td{
      background-color: #6E84AD;
    }
    tr:nth-of-type(odd) td{
        background-color: #91A5C6;
      }
    
    .total{
      th{
        background-color: white;
      }
      
      td{
        text-align: right;
        font-weight: 700;
      }
    }
  }
  
    .mobile-header{
      display: none;
    }
  

  
