<app-header> </app-header>

<h4 class="text-center mb-4 pt-5" style="color: #3C3C3C;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word">Parcel Loading Offline Report</h4>

<div class="container mb-5 pt-5 pb-5 " style="border: 1px solid #7C7C7C;">
    <form [formGroup]="form1">
        <div class="row g-3">
            <div class="col-md-4 col-sm-12">
                <label class="form-label">From booking date</label>
                <input type="date" class="form-control form-control-sm" formControlName="fromBookingDate">
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">From City</label>
                <select class="form-select form-select-sm" formControlName="fromCity">
                  <option value="" selected>Select City</option>
                  <option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName }}</option>
                </select>
              </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">To booking date</label>
                <input type="date" class="form-control  form-select-sm" formControlName="toBookingDate">
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">To City</label>
                <select class="form-select form-select-sm" formControlName="toCity">
                  <option value="" selected>Select City</option>
                  <option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName }}</option>
                </select>
              </div>
            <div class="col-md-4 col-sm-12">

            <div class="d-flex justify-content-start  pt-4 ">
                <button class="btn btn-danger btn-sm" style="width: 10rem;" (click)="ParcelLoad()">Load</button>
            </div>
        
            </div>
        </div>
    </form>
   
</div>


<div class="container mt-4">
            <!-- <div *ngIf="loading" class="text-center">
                <img src="assets/loading.gif" alt=""  style="height:40px;">
                <p class="text-danger text-center">Please Wait ....</p>
            </div> -->
    <div class="">
        <p-table [value]="data1" *ngIf="!loading" 
        scrollHeight="76vh" 
        [scrollable]="true" styleClass="p-datatable-gridlines p-datatable-striped">
            <ng-template pTemplate="header">
                <tr class="bg-white">
                    <th>S.No</th>
                    <th>Date</th>
                    <th>LR No</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Pickup</th>
                    <th>Drop</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr class="custom-row">
                    <td>{{i + 1}}</td>
                    <td>{{row.createdAt | date:'dd/MMM/yyyy'}}</td>
                    <td>{{row.lrNumber}}</td>
                    <td>{{row.fromCity}}</td>
                    <td>{{row.toCity}}</td>
                    <td>{{row.pickUpBranch}}</td>
                    <td>{{row.dropBranch}}</td>
                    <td>{{row.senderName}}<br><small>{{row.senderMobile}}</small></td>
                    <td>{{row.receiverName}}<br><small>{{row.receiverMobile}}</small></td>
                    <td>
                        <ng-container *ngIf="row.bookingStatus=='0'">
                            <i class="fa fa-times-circle mb-2 text-danger" title="Pending"></i> Pending
                        </ng-container>
                        <ng-container *ngIf="row.bookingStatus=='1'">
                            <i class="fa fa-check-circle mb-2 text-danger" title="Package Load"></i> Package Load
                        </ng-container>
                        <ng-container *ngIf="row.bookingStatus=='2'">
                            <i class="fa fa-check-circle mb-2 text-danger" title="Package OnLoad"></i> Package OnLoad
                        </ng-container>
                        <ng-container *ngIf="row.bookingStatus=='3'">
                            <i class="fa fa-check-circle mb-2 text-danger" title="Received Branch"></i> Received Branch
                        </ng-container>
                        <ng-container *ngIf="row.bookingStatus=='4'">
                            <i class="fa fa-check-circle mb-2 text-danger" title="Package Delivered"></i> Package Delivered
                        </ng-container>
                        <ng-container *ngIf="row.bookingStatus=='5'">
                            <i class="pi pi-times-circle mb-2 text-danger" title="Package Cancel"></i> Package Cancel
                        </ng-container>
                    </td>
                </tr>
                
            </ng-template>
        </p-table>
    </div>
    
</div>

<app-footer></app-footer>