<app-header> </app-header>

<h4 class="text-center mb-4 pt-5" style="color: #3C3C3C;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word">Parcel Loading Offline Report</h4>

<div class="container mb-5 pt-5 pb-5 " style="border: 1px solid #7C7C7C;">
    <form [formGroup]="form1">
        <div class="row g-3">
            <div class="col-md-4 col-sm-12">
                <label class="form-label">From booking date</label>
                <input type="date" class="form-control form-control-sm" formControlName="fromBookingDate">
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">From City</label>
                <select class="form-select form-select-sm" formControlName="fromCity">
                  <option value="" selected>Select City</option>
                  <option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName }}</option>
                </select>
              </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">To booking date</label>
                <input type="date" class="form-control  form-select-sm" formControlName="toBookingDate">
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="form-label">To City</label>
                <div class="border rounded p-2" style="max-height: 150px; overflow-y: auto;"> 
                    <div *ngFor="let city of cities">
                      <input type="checkbox"
                        [value]="city.cityName"
                        (change)="onToCityChange($event, city.cityName)"
                        [checked]="toCityArray.value.includes(city.cityName)" />
                      {{ city.cityName }}
                    </div>
                  </div>
              </div>
            <div class="col-md-4 col-sm-12">
            <div class="d-flex justify-content-start  pt-4 ">
                <button class="btn btn-danger btn-sm" style="width: 10rem;" (click)="ParcelLoad()">Load</button>
            </div>
        
            </div>
        </div>
    </form>
   
</div>


<div class="container mt-4">
    <p-table *ngIf="data1?.length > 0" [value]="data1" scrollHeight="76vh" [scrollable]="true"
        styleClass="p-datatable-gridlines p-datatable-striped">
        
        <ng-template pTemplate="header">
            <tr class="bg-white">
                <th>S.No</th>
                <th>LR No</th>
                <th>Particulars</th>
                <th>QTY</th>
                <th>VOG</th>
                <th>Amount</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr class="custom-row">
                <td>{{ i + 1 }}</td>
                <td>{{ row.lrNumber }}</td>
                <td>{{ row.totalQuantity }} -  <span *ngFor="let pkg of row.packages; let last = last">
                    {{ pkg.packageType }}<span *ngIf="!last">, </span>
                </span> </td>
                <td>{{ row.totalQuantity }}</td>
                <td>{{ row.valueOfGoods }}</td>
                <td>{{ row.grandTotal }}</td>
            </tr>
            <tr>
                <td colspan="5">
                    <strong>Driver Name:</strong> {{ row.driverName }}
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="data1?.length === 0" class="text-center text-danger">
        <p>No Parcel Data Found</p>
    </div>
</div>


 

<app-footer></app-footer>