<app-header></app-header>
<div class="container d-flex justify-content-center  " style="margin-top: 8%;">
    <form class="row mb-3 align-items-center justify-content-center" (ngSubmit)="searchUser()">
        <div class="col-auto">
            <label for="searchTerm" class="form-label fw-bold">GRN Number</label>
        </div>
        <div class="col-auto">
            <input required type="text" id="searchTerm" name="searchTerm" placeholder="Enter GRN Number"
                class="form-control" [(ngModel)]="searchTerm" />
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Load</button>
        </div>
    </form>
</div>

<div class="container" *ngFor="let user of data2;">
    <div class="card mb-3">
        <div class="card-header">Parcel Details (Main GRN No :{{user.grnNo}} )</div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>GRN No:</strong> {{user.grnNo}}</p>
                    <p><strong>Parcel Status:</strong>
                        <span [ngSwitch]="user.bookingStatus">
                            <span *ngSwitchCase="0">Booking Branch</span>
                            <span *ngSwitchCase="1">Departed / Shipped</span>
                            <span *ngSwitchCase="2">Arrived at Delivery App</span>
                            <span *ngSwitchCase="3">Parcel Missing</span>
                            <span *ngSwitchCase="4">Delivered</span>
                            <span *ngSwitchCase="5">Cancelled</span>
                            <span *ngSwitchDefault>Unknown Status</span>
                        </span>
                    </p>

                    <p><strong>From City:</strong> {{user.fromCity}}</p>
                    <p><strong>From Branch:</strong> {{user.pickUpBranchname}}</p>
                    <p><strong>Sender Name:</strong> {{user.senderName}}</p>
                    <p><strong>Receiver Name:</strong> {{user.receiverName}}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Booking Type:</strong> {{user.bookingType}}</p>
                    <p><strong><br></strong> </p>
                    <p><strong>To City:</strong> {{user.toCity}}</p>
                    <p><strong>To Branch:</strong> {{user.dropBranchname}}</p>
                    <p><strong>Sender No.:</strong> {{user.senderMobile}}</p>
                    <p><strong>Receiver No.:</strong> {{user.receiverMobile}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Booking Details</div>
        <div class="card-body bg-light">
            <p><strong>Booking Date:</strong> {{ user.bookingDate | date: 'dd-MM-yyyy hh:mm a' }}</p>
            <p><strong>Booked By User:</strong>{{user.bookedBy}}</p>
            <p><strong>Booked By Branch:</strong> {{user.pickUpBranchname}}</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Loading Details</div>
        <div class="card-body bg-light">
            <p><strong>Loading Date:</strong> {{user.loadingDate|date:'dd-mm-yyyy hh:mm a'}}</p>
            <p><strong>Loaded By User:</strong> sk.mahesh</p>
            <p><strong>Loaded By Branch:</strong> </p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Unloading Details</div>
        <div class="card-body bg-light">
            <p><strong>Unloading Date:</strong> {{user.unloadingDate|date:'dd-MM-yyyy hh:mm a'}}</p>
            <p><strong>Unloaded By User:</strong> sk.naresh</p>
            <p><strong>Unloaded By Branch:</strong> Lak-Di-Kapool</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Delivery Details</div>
        <div class="card-body bg-light">
            <p><strong>Delivery Date:</strong> {{user.deliveryDate| date: 'dd-MM-yyyy hh:mm a' }}</p>
            <p><strong>Delivered By User:</strong> {{user.deliveryEmployee}}</p>
            <p><strong>Delivered By Branch:</strong>{{user.dropBranchname}}</p>
        </div>
    </div>
</div>


